<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" color="light"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding">

  <div class="header">
    <ion-img src="assets/images/leather-gb8902246a_640.jpg"></ion-img>
    <ion-backdrop visible="true"></ion-backdrop>
    <ion-title class="ion-text-center" color="light">Finanças pessoais</ion-title>
  </div>

  <ion-list lines="none">

    <ion-item *ngFor="let item of items" lines="none" [routerLink]="item.routerLink" class="shadow ion-margin-vertical">
      <div slot="start" class="image" [style]="'background-image: url(/assets/images/'+item.imageUrl+')'" ></div>

      <ion-text size="small">
        <h6>{{item.title}}</h6>
        <p>{{item.description}}</p>
      </ion-text>

      <ion-icon slot="end" name="chevron-forward-outline" color="main"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>