<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" color="light"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding">

  <div class="header">
    <ion-img src="../../../assets/images/leather-gb8902246a_640.jpg"></ion-img>
    <ion-backdrop visible="true"></ion-backdrop>
    <ion-title class="ion-text-center" color="light">Finanças pessoais</ion-title>
  </div>

  <ion-list lines="none">

    <ion-item *ngFor="let item of items" lines="none" [routerLink]="item.routerLink">
      <ion-thumbnail slot="start">
        <ion-img style="background-color: gray; width: 4rem; height: 4rem;"></ion-img>
      </ion-thumbnail>

      <ion-text size="small">
        <h6>{{item.title}}</h6>
        <p>{{item.description}}</p>
      </ion-text>

      <ion-button slot="end" color="success">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>
</ion-content>