ion-toolbar {
    --background: transparent;
}

ion-backdrop {
    opacity: 0.5;
}

.header {
    position: relative;

    ion-title {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
}

ion-button {
    height: 100%;
}

.image {
    width: 30%;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}