<ion-menu side="start" menuId="first" contentId="main-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Hoard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">

      <ion-item lines="none">
        <ion-icon name="settings" color="light" slot="start"></ion-icon> Configurações <ion-icon slot="end"
          name="chevron-forward-outline" color="light">
        </ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="shield" color="light" slot="start"></ion-icon> Políticas de privacidade <ion-icon slot="end"
          name="chevron-forward-outline" color="light">
        </ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="information-circle" color="light" slot="start"></ion-icon> Sobre <ion-icon slot="end"
          name="chevron-forward-outline" color="light"></ion-icon>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" id="main-menu" color="light"></ion-menu-button>
    <ion-button slot="end">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>