<ion-header>
  <ion-toolbar >
    <ion-back-button slot="start" color="main"></ion-back-button>
    <ion-title>Calculadora de juros simples</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-accordion-group>
    <ion-accordion toggle-icon="chevron-down" class="border ion-margin-vertical">
      <ion-item slot="header">
        <ion-label class="ion-text-wrap">
          <strong>O que é juros simples?</strong>
        </ion-label>
      </ion-item>

      <ion-item slot="content">
        <ion-text>
          <p>
            Juros simples é a porcentagem de um valor chamado de capital inicial, essa porcentagem é aplicado ao capital inicial durante determindao tempo.
          </p>
          
          <strong>Exemplos onde é aplicado juros simples.</strong>
          <p>Compra de algo parcelado.</p>
          <p>Empréstimos.</p>

          <strong>Fórmula do juros simples</strong>
          <p><strong>J = C · I · T</strong></p>
          <p><strong>J</strong> = Juros</p>
          <p><strong>C</strong> = capital</p>
          <p><strong>I</strong> = taxa de juros</p>
          <p><strong>T</strong> = tempo</p>
        </ion-text>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>

  <ion-card class="ion-card-rounded">
    <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="calculate()">
      <div class="form-group">
        <label>Valor inicial</label>
        <input autocomplete="off" formControlName="initialValue" type="number" placeholder="R$ 0,00" />
      </div>

      <div class="form-group">
        <label>Taxa de juros</label>
        <input autocomplete="off" formControlName="interestRates" type="number" placeholder="0%"/>
      </div>

      <div class="form-group">
        <label>Período em meses</label>
        <input autocomplete="off" formControlName="timeCourse" type="number" placeholder="0"/>
      </div>

      <ion-button color="red" expand="block" type="reset">Limpar</ion-button>
      <ion-button color="green" expand="block" type="submit" [disabled]="form.invalid" >Calcular</ion-button>
    </form>
    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="!showResults"  *ngFor="let item of results" class="ion-margin-vertical">
    <ion-card-header class="ion-text-center">
      <ion-card-title>{{ item.title }}</ion-card-title>
      <ion-card-subtitle>R$ {{ (item.value).toLocaleString('pt-BR') }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  <div>
    <canvas [hidden]="!showResults"  #chart ></canvas>
  </div>
</ion-content>
