<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card routerLink="/personal-finances">
        <ion-card-content>
          <ion-img src="../../../assets/images/piggy-bank-gcc39bec57_640.jpg"></ion-img>
        </ion-card-content>

        <ion-card-header>
          <ion-card-title class="ion-text-center">
            Finanças pessoais
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card routerLink="/exercises">
        <ion-card-content>
          <ion-img src="../../../assets/images/pencil-gdf7aa77be_640.jpg"></ion-img>
        </ion-card-content>

        <ion-card-header>
          <ion-card-title class="ion-text-center">
            Exercícios
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>