.card {
    min-height: 100px; 
    text-align: center;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    backface-visibility: hidden;
    padding: 1rem;
    background-color: #8EDCE6;
    aspect-ratio: 1;
}