<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card routerLink="/personal-finances">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Finanças pessoais</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card routerLink="/exercises">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Exercícios</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>