<ion-content [fullscreen]="true">
  <app-categories></app-categories>

  <ion-card>
    <ion-card-header color="red">
      <ion-card-title class="ion-text-center" color="white">Tipos de reserva</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-progress-bar class="ion-margin-vertical" color="main" value="0.3" ></ion-progress-bar>

      <ion-button expand="full" color="main" routerLink="/personal-finances/types-of-financial-reserve" >Continuar</ion-button>

      <ion-button expand="full" color="green" routerLink="/personal-finances/types-of-financial-reserve" >Recomeçar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>