<ion-header>
  <ion-toolbar>
    <ion-title color="main">Educação financeira</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-card *ngFor="let item of basicContent" [routerLink]="'/'+item.routerLink" >

      <ion-card-header>
        <ion-thumbnail>
          <ion-img [src]="item.imageUrl"></ion-img>
        </ion-thumbnail>

        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text>{{item.description}}</ion-text>
      </ion-card-content>

    </ion-card>
    
    <ion-text>
      <h4 class="ion-padding-horizontal">Avançado</h4>
    </ion-text>

    <ion-card *ngFor="let item of advancedContent" [routerLink]="'/'+item.routerLink">

      <ion-card-header>
        <ion-img [src]="item.imageUrl"></ion-img>

        <ion-card-title>{{ item.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text>{{ item.description }}</ion-text>
      </ion-card-content>

    </ion-card>

</ion-content>
