<ion-header>
  <ion-toolbar>
    <ion-title color="main">Tela inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="none">

    <ion-card *ngFor="let item of items" lines="none" [routerLink]="'/'+item.routerLink" class="shadow ion-margin-vertical">

      <ion-card-header>
        <ion-img [src]="'assets/images/'+item.imageUrl" ></ion-img>
        <ion-card-title>{{item.title}}</ion-card-title>
        <ion-card-subtitle>{{item.description}}</ion-card-subtitle>
      </ion-card-header>

    </ion-card>

  </ion-list>

</ion-content>
