@font-face {
    font-family: Nunito;
    src: url(./../assets/fonts/Nunito/static/Nunito-ExtraLight.ttf);
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url(./../assets/fonts/Nunito/static/Nunito-Light.ttf);
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url(./../assets/fonts/Nunito/static/Nunito-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url(./../assets/fonts/Nunito/static/Nunito-Medium.ttf);
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url(./../assets/fonts/Nunito/static/Nunito-SemiBold.ttf);
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url(./../assets/fonts/Nunito/static/Nunito-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url(./../assets/fonts/Nunito/static/Nunito-Black.ttf);
    font-style: normal;
}