<ion-header>
  <ion-toolbar color="main">
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">Organização financeira</h1>

  <p>
    Você já foi ao supermercado e trouxe para a casa mais do que era necessário, 
    ou comprou algo que não estava em seus planos, isso ocorre por falta de planejamento.
  </p>

  <p>
    Sempre que for fazer compras, liste aquilo que é 
    realmente necessário comprar. E caso queira comprar algo que 
    não está nessa lista faça as seguintes perguntas para si memso:
  </p>

  <ion-list class="ion-no-padding border" lines="none">
    <ion-item>
      <ion-label>Eu tenho dinheiro para comprar</ion-label>
      <ion-icon slot="end" name="help-outline"></ion-icon>
    </ion-item>
    
    <ion-item>
      <ion-label> Eu vou usar isso</ion-label>
      <ion-icon slot="end" name="help-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Eu realmente preciso disso</ion-label>
      <ion-icon slot="end" name="help-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
