<ion-header>
  <ion-toolbar>
    <ion-back-button color="main" slot="start"></ion-back-button>
  </ion-toolbar>
  <ion-progress-bar [value]="(index + 1) / contents.length" color="main"></ion-progress-bar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ contents[index].title }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="'assets/images/'+contents[index].imageUrl" ></ion-img>
      <ion-text>
        {{ contents[index].text }}
      </ion-text>

      <ion-row class="ion-justify-content-between">
        <ion-button color="red" expand="full" (click)="previous()" >
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
  
        <ion-button color="green" expand="full" (click)="next()" [hidden]="index === contents.length -1"  >
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
