<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <h1 class="ion-text-center">
    Como identificar seu padrão de vida
  </h1>

  <p>
    Saber o padrão de vida é um fator muito importante para vida financeira, 
    pois fará com que o indivíduo tenha noção do acesso a serviços e produtos que ela poderá ter baseado na sua renda, 
    porém em certos casos a pessoa pode acabar optando por um padrão de vida mais alto, 
    não condizendo com sua renda e assim trazendo problemas financeiros para sua vida.
  </p>

  <p>
    Padrão de vida significa o nível de bem-estar que uma pessoa possui, 
    isso irá variar de acordo com sua renda, que determinara a quantidade 
    e qualidade de produtos e serviços que poderão ser adquiridos, vale ressaltar, 
    que o padrão de vida poderá mudar dependendo do local aonde se vive, 
    já que vários fatores podem diferenciar nos gastos, como transporte, os preços, as contas, etc... .
  </p>

  <p>
    Existem três padrões de vida que podem ser considerados, esses padrões são:
  </p>

 <div class="ballon">
  <p>
    <strong>Padrão de vida baixa:</strong> 
    É a renda mínima onde permite ter as necessidades básicas, 
    como moradia, alimento, educação, saneamento, eletrodomésticos e lazer (geralmente gratuito).
  </p>
 </div>

 <div class="ballon">
  <p>
    <strong>Padrão de vida médio:</strong> sendo a renda padrão da classe média, 
    permitindo acesso a carro, casa própria, cursos e faculdades, internet, 
    plano de saúde, eletrodomésticos de mais qualidade, condições de ir ao shopping, 
    cinema, realizar viagens e possui uma reserva que pode ser usada para investimentos.
  </p>
 </div>

 <div class="ballon">
  <p>
    <strong>Padrão de vida alto:</strong> é da mais alta classe, podendo ter além dos bens e serviços da
     classe média, acesso a casas e carros luxuosos, roupas e
      eletrônicos da mais alta qualidade, viagens internacionais e 
      grandes investimentos.
  </p>
 </div>

  <p>
    O padrão de vida também dependerá da personalidade da pessoa, 
    pois podem ter pessoas com renda baixa vivendo com um padrão de vida alta ou vice-versa, 
    trazendo um grande problema que muitas pessoas passam, que é querer viver um padrão de vida acima 
    do que seu orçamento permite, causando muitos endividamentos e problemas financeiros, não permitindo planejar para o futuro. 
  </p>

  <p>
    Outro problema se dá pela renda baixa que faz com não se consiga pagar as despesas básicas, causando dividas e prejuízos na vida do indivíduo, 
    esse problema costuma ser de cidadãos de baixa renda, que é uma grande porcentagem no Brasil.
  </p>

  <p>
    Por esses motivos é necessário que se viva baseado na renda mensal, para que consiga ter os requisitos básicos e cotidianos, além de 
    poder ter um planejamento ou investimento para o futuro, permitindo com que consiga melhorar sua renda e seu padrão de vida.
  </p>
</ion-content>
