<ion-header>
  <ion-toolbar>
    <ion-title color="main">Matemática financeira</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-card-rounded">
    <ion-card-header color="green">
      <ion-card-title class="ion-text-center" color="white">O que é juros simples</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>Aprenda como calcular juros simples e onde ele é aplicado.</ion-card-subtitle>
      <ion-button expand="full" color="main" routerLink="/simple-interest" >Abrir</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-card-rounded">
    <ion-card-header color="green">
      <ion-card-title class="ion-text-center" color="white">O que é juros compostos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>Aprenda como calcular juros compostos e onde ele é aplicado.</ion-card-subtitle>
      <ion-button expand="full" color="main" routerLink="/compound-interest" >Abrir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
