<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header color="green">
      <ion-card-title class="ion-text-center" color="white">Juros simples</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="full" color="main" routerLink="/simple-interest" >Abrir</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="green">
      <ion-card-title class="ion-text-center" color="white">Juros composto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="full" color="main" routerLink="/compound-interest" >Abrir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
