<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" color="main"></ion-back-button>
    <ion-title>Tipos de reservas financeira</ion-title>
  </ion-toolbar>
  <ion-progress-bar [value]="(index + 1) / contents.length" color="main"></ion-progress-bar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-img [src]="contents[index].image"></ion-img>
      <ion-card-title>{{contents[index].title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        <p>
          {{contents[index].content}}
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
 
</ion-content>

<ion-footer class="ion-padding">
  <ion-row class="ion-justify-content-between">
    <ion-button color="red" expand="full" (click)="previous()" >
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>

    <ion-button color="green" expand="full" (click)="next()" [hidden]="index === contents.length -1" >
      <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-row>
</ion-footer>