<ion-header>
  <ion-toolbar color="main">
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">Regra 50 30 20</h1>
  <p>Regra 50 30 20 é um metódo para organizar seu orçamento.</p>

  <p>Dividindo seu dinheiro da seguinte maneira</p>

  <ion-accordion-group>
    <ion-accordion toggle-icon="chevron-down" *ngFor="let item of accordions" class="border ion-margin-vertical">

      <ion-item slot="header" lines="none">
        <ion-icon slot="start" [name]="item.name" ></ion-icon>
        <ion-label class="ion-text-wrap">{{item.title}}</ion-label>
      </ion-item>

      <ion-list slot="content">

        <ion-item *ngFor="let content of item.content">
          <ion-label >{{content}}</ion-label>
        </ion-item>
        
      </ion-list>

    </ion-accordion>
  </ion-accordion-group>
</ion-content>
