<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" color="main"></ion-back-button>
    <ion-progress-bar
      color="main"
      [value]="(index + 1) / contents.length"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="index === 0">
    <ion-card-header>
      <ion-card-title class="ion-text-center"
        >{{ contents[index].title }}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        <p>{{ contents[index].text }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="index > 0">
    <ion-card-header>
      <ion-card-title class="ion-text-center"
        >{{ contents[index].title }}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        <p *ngFor="let item of contents[index].content">{{ item }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-padding">
  <ion-row class="ion-justify-content-between">
    <ion-button
      color="red"
      expand="full"
      (click)="previous()"
      [ngStyle]="index === 0 ? {opacity:0} : {} "
    >
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>

    <ion-button color="green" expand="full" (click)="next()">
      <ion-icon
        slot="icon-only"
        [name]="index < contents.length -1 ? 'arrow-forward': 'exit-outline' "
      ></ion-icon>
    </ion-button>
  </ion-row>
</ion-footer>
