<ion-header>
    <ion-toolbar color="transparent">
        <ion-back-button slot="start" color="light"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding">

    <div class="header">
        <ion-img src="../../../assets/images/notebook-gc2b420fc3_640.jpg"></ion-img>
        <ion-backdrop visible="true"></ion-backdrop>
        <ion-title class="ion-text-center" color="light">Exercícios</ion-title>
    </div>

    <ion-list lines="none">

        <ion-item *ngFor="let item of items" lines="none" button class="ion-margin-bottom">
            <ion-thumbnail slot="start">
                <ion-img style="background-color: gray; width: 4rem; height: 4rem;"></ion-img>
            </ion-thumbnail>

            <ion-text size="small">
                <h6>{{item.title}}</h6>
                <p>{{item.description}}</p>
            </ion-text>

            <ion-icon name="chevron-forward-outline" slot="end" color="main" ></ion-icon>
        </ion-item>

    </ion-list>
</ion-content>