.card {
    perspective: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .3s ease-in-out;
    aspect-ratio: 1;
}

.card-block {
    position: absolute;
    width: 100%;
    height: 100%;

    text-align: center;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    backface-visibility: hidden;
    padding: 1rem;
}

.card-front {
    transform: rotateY(180deg);
    background-color: #8EDCE6;
}

.card-back {
    transform: rotateY(0deg);
    background-color: #E0FF4F;
    font-size: 4rem;
}

.card.open {
    transform: rotateY(-180deg);
}

.card.close {
    transform: rotateY(0deg);
}

.card.correct {
    transform: rotateY(-180deg);
}
.card.correct .card-front {
    background-color: var(--ion-color-green);
}
.card.error {
  animation: errorAnimation .2s infinite ease-in-out;

  .card-back {
    background-color: var(--ion-color-red);
  }
}

@keyframes errorAnimation {
  0% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-5%);
  }
}


.counter {
  display: flex;
  position: absolute;
  right:0;
  left: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: counter 1s ease-in-out infinite;

  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: red;
    text-align: center;
  }
}

@keyframes counter {
  0% {
    transform: scale(1);
  }
  100%{
    transform: scale(2);
  }
}
