@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/Nunito/static/Nunito-ExtraLight.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/Nunito/static/Nunito-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/Nunito/static/Nunito-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/Nunito/static/Nunito-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/Nunito/static/Nunito-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/Nunito/static/Nunito-Bold.ttf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/Nunito/static/Nunito-Black.ttf);
    font-style: normal;
    font-weight: 900;
}

html, body {
    --ion-font-family: Nunito;
}

:root {
    //main
    --ion-color-main: #735CDD;
    --ion-color-main-rgb: 115,92,221;
    --ion-color-main-contrast: #ffffff;
    --ion-color-main-contrast-rgb: 255,255,255;
    --ion-color-main-shade: #6551c2;
    --ion-color-main-tint: #816ce0;

    --ion-color-green: #1EA896;
	--ion-color-green-rgb: 30,168,150;
	--ion-color-green-contrast: #ffffff;
	--ion-color-green-contrast-rgb: 255,255,255;
	--ion-color-green-shade: #1a9484;
	--ion-color-green-tint: #35b1a1;

    --ion-color-red: #B2475D;
	--ion-color-red-rgb: 178,71,93;
	--ion-color-red-contrast: #ffffff;
	--ion-color-red-contrast-rgb: 255,255,255;
	--ion-color-red-shade: #9d3e52;
	--ion-color-red-tint: #ba596d;

    --ion-color-main: #FFB961;
	--ion-color-main-rgb: 255,185,97;
	--ion-color-main-contrast: #000000;
	--ion-color-main-contrast-rgb: 0,0,0;
	--ion-color-main-shade: #e0a355;
	--ion-color-main-tint: #ffc071;
}

.ion-color-main {
	--ion-color-base: var(--ion-color-main);
	--ion-color-base-rgb: var(--ion-color-main-rgb);
	--ion-color-contrast: var(--ion-color-main-contrast);
	--ion-color-contrast-rgb: var(--ion-color-main-contrast-rgb);
	--ion-color-shade: var(--ion-color-main-shade);
	--ion-color-tint: var(--ion-color-main-tint);
}

.ion-color-red {
	--ion-color-base: var(--ion-color-red);
	--ion-color-base-rgb: var(--ion-color-red-rgb);
	--ion-color-contrast: var(--ion-color-red-contrast);
	--ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
	--ion-color-shade: var(--ion-color-red-shade);
	--ion-color-tint: var(--ion-color-red-tint);
}

.ion-color-green {
	--ion-color-base: var(--ion-color-green);
	--ion-color-base-rgb: var(--ion-color-green-rgb);
	--ion-color-contrast: var(--ion-color-green-contrast);
	--ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
	--ion-color-shade: var(--ion-color-green-shade);
	--ion-color-tint: var(--ion-color-green-tint);
}

.border {
    border: 2px dashed var(--ion-color-main);
}

.shadow {
    box-shadow:rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}